Gmail Agent/workflows/gmail-agent-learning.json
{
  "name": "Gmail Agent - Learning Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "simple": false,
        "filters": { "readStatus": "unread" },
        "options": {}
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [100, 300],
      "id": "trigger-1",
      "credentials": {
        "gmailOAuth2": {
          "id": "AsC5TeEQk0deTNge",
          "name": "Gmail dror.bekerman@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Label ID mapping (from Gmail API)\nconst LABEL_MAP = {\n  '💼 Work': 'Label_144',\n  '💼 Work/Clients': 'Label_145',\n  '💼 Work/Team': 'Label_146',\n  '💼 Work/Projects': 'Label_147',\n  '💼 Work/Invoices': 'Label_148',\n  '👤 Personal': 'Label_149',\n  '👤 Personal/Family': 'Label_150',\n  '👤 Personal/Friends': 'Label_151',\n  '👤 Personal/Health': 'Label_152',\n  '📰 Newsletters': 'Label_153',\n  '📰 Newsletters/Tech': 'Label_154',\n  '📰 Newsletters/Business': 'Label_155',\n  '📰 Newsletters/Other': 'Label_156',\n  '🔔 Notifications': 'Label_157',\n  '🔔 Notifications/Social': 'Label_158',\n  '🔔 Notifications/Security': 'Label_159',\n  '🔔 Notifications/Apps': 'Label_160',\n  '🔔 Notifications/Banking': 'Label_161',\n  '🛒 Shopping': 'Label_162',\n  '🛒 Shopping/Orders': 'Label_163',\n  '🛒 Shopping/Shipping': 'Label_164',\n  '🛒 Shopping/Returns': 'Label_165',\n  '💰 Finance': 'Label_166',\n  '💰 Finance/Invoices': 'Label_167',\n  '💰 Finance/Receipts': 'Label_168',\n  '💰 Finance/Banking': 'Label_169',\n  '💰 Finance/Payments': 'Label_170',\n  '📅 Calendar': 'Label_171',\n  '📅 Calendar/Meetings': 'Label_172',\n  '📅 Calendar/Events': 'Label_173',\n  '⬇️ Low Priority': 'Label_174',\n  '⬇️ Low Priority/Promotions': 'Label_175',\n  '⬇️ Low Priority/Bulk': 'Label_176',\n  '✅ Processed': 'Label_142',\n  '📥 To Review': 'Label_143'\n};\n\nconst email = $input.item.json;\nconst getHeader = (name) => {\n  const header = email.payload?.headers?.find(h => h.name.toLowerCase() === name.toLowerCase());\n  return header?.value || '';\n};\n\n// Extract sender domain\nconst from = getHeader('From');\nconst emailMatch = from.match(/<([^>]+)>/) || [null, from];\nconst senderEmail = emailMatch[1] || from;\nconst domain = senderEmail.includes('@') ? '@' + senderEmail.split('@')[1] : '';\n\nreturn {\n  json: {\n    id: email.id,\n    threadId: email.threadId,\n    from: from,\n    senderEmail: senderEmail,\n    domain: domain,\n    subject: getHeader('Subject'),\n    snippet: email.snippet || '',\n    date: getHeader('Date'),\n    labelMap: LABEL_MAP\n  }\n};"
      },
      "name": "Extract Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300],
      "id": "extract-1"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "1ZnpD6Nw8Jl-mgE0ZQ6rc4aElQKUhQKKHQiSrDjAuPwE" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Rules" },
        "options": { "outputFormatting": { "values": { "outputFormat": "autoDetect" } } }
      },
      "name": "Fetch Rules",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [500, 300],
      "id": "fetch-rules-1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $('Extract Email Data').item.json;\nconst rules = $('Fetch Rules').all().map(item => item.json);\nconst labelMap = email.labelMap;\n\n// Sort rules by priority (higher first)\nconst activeRules = rules\n  .filter(r => r.Active === true || r.Active === 'TRUE')\n  .sort((a, b) => (b.Priority || 0) - (a.Priority || 0));\n\n// Check each rule for a match\nlet matchedRule = null;\nfor (const rule of activeRules) {\n  const type = (rule.Type || '').toLowerCase();\n  const pattern = (rule.Pattern || '').toLowerCase();\n  \n  let isMatch = false;\n  \n  switch (type) {\n    case 'sender':\n      isMatch = email.senderEmail.toLowerCase().includes(pattern) ||\n                email.from.toLowerCase().includes(pattern);\n      break;\n    case 'domain':\n      isMatch = email.domain.toLowerCase() === pattern ||\n                email.senderEmail.toLowerCase().endsWith(pattern);\n      break;\n    case 'subject':\n      isMatch = email.subject.toLowerCase().includes(pattern);\n      break;\n    case 'content':\n      isMatch = email.snippet.toLowerCase().includes(pattern) ||\n                email.subject.toLowerCase().includes(pattern);\n      break;\n  }\n  \n  if (isMatch) {\n    matchedRule = rule;\n    break;\n  }\n}\n\nreturn {\n  json: {\n    ...email,\n    hasRuleMatch: matchedRule !== null,\n    matchedRule: matchedRule,\n    labelId: matchedRule ? (labelMap[matchedRule.Label] || labelMap['📥 To Review']) : null,\n    processedId: labelMap['✅ Processed'],\n    toReviewId: labelMap['📥 To Review']\n  }\n};"
      },
      "name": "Check Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "id": "check-rules-1"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [{
            "leftValue": "={{ $json.hasRuleMatch }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }]
        },
        "options": {}
      },
      "name": "Rule Match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300],
      "id": "rule-match-1"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": "={{ [$json.labelId, $json.processedId] }}"
      },
      "name": "Apply Rule Label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1100, 200],
      "id": "apply-rule-1",
      "credentials": {
        "gmailOAuth2": {
          "id": "AsC5TeEQk0deTNge",
          "name": "Gmail dror.bekerman@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "1ZnpD6Nw8Jl-mgE0ZQ6rc4aElQKUhQKKHQiSrDjAuPwE" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Activity Log" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Email ID": "={{ $json.id }}",
            "From": "={{ $json.from }}",
            "Subject": "={{ $json.subject }}",
            "Rule ID": "={{ $json.matchedRule['Rule ID'] }}",
            "Label Applied": "={{ $json.matchedRule.Label }}",
            "Confidence": "=100",
            "Action": "=Rule Match"
          }
        },
        "options": {}
      },
      "name": "Log Rule Match",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1300, 200],
      "id": "log-rule-1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an email classifier. Analyze this email and classify it.\n\nMAIN CATEGORIES (choose the most specific match):\n- 💼 Work (general work), 💼 Work/Clients, 💼 Work/Team, 💼 Work/Projects, 💼 Work/Invoices\n- 👤 Personal (general personal), 👤 Personal/Family, 👤 Personal/Friends, 👤 Personal/Health\n- 📰 Newsletters (general), 📰 Newsletters/Tech, 📰 Newsletters/Business, 📰 Newsletters/Other\n- 🔔 Notifications (general), 🔔 Notifications/Social, 🔔 Notifications/Security, 🔔 Notifications/Apps, 🔔 Notifications/Banking\n- 🛒 Shopping (general), 🛒 Shopping/Orders, 🛒 Shopping/Shipping, 🛒 Shopping/Returns\n- 💰 Finance (general), 💰 Finance/Invoices, 💰 Finance/Receipts, 💰 Finance/Banking, 💰 Finance/Payments\n- 📅 Calendar (general), 📅 Calendar/Meetings, 📅 Calendar/Events\n- ⬇️ Low Priority (general), ⬇️ Low Priority/Promotions, ⬇️ Low Priority/Bulk\n\nEmail:\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nPreview: {{ $json.snippet }}\n\nRespond with ONLY valid JSON (no markdown):\n{\"label\": \"exact label with emoji\", \"sublabel\": \"specific sublabel if applicable or null\", \"confidence\": 85, \"reason\": \"brief reason\"}",
        "options": {
          "systemMessage": "You are an email classifier. Always respond with valid JSON only. No markdown code blocks."
        }
      },
      "name": "AI Classify",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1100, 400],
      "id": "ai-classify-1"
    },
    {
      "parameters": {
        "model": { "__rl": true, "mode": "list", "value": "gpt-4.1-mini" },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1000, 600],
      "id": "openai-1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vaKjVFGWeNjpaqHu",
          "name": "OpenAi - n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $('Check Rules').item.json;\nconst labelMap = email.labelMap;\nconst ai = $input.item.json;\n\nlet result;\ntry {\n  let output = ai.output || ai.text || JSON.stringify(ai);\n  output = output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  result = typeof output === 'string' ? JSON.parse(output) : output;\n} catch (e) {\n  result = { label: '📥 To Review', confidence: 0, reason: 'Parse error' };\n}\n\nconst finalLabel = result.sublabel || result.label || '📥 To Review';\nconst labelId = labelMap[finalLabel] || labelMap['📥 To Review'];\n\nreturn {\n  json: {\n    emailId: email.id,\n    threadId: email.threadId,\n    from: email.from,\n    senderEmail: email.senderEmail,\n    domain: email.domain,\n    subject: email.subject,\n    snippet: email.snippet,\n    date: email.date,\n    label: finalLabel,\n    labelId: labelId,\n    labelMap: labelMap,\n    processedId: labelMap['✅ Processed'],\n    toReviewId: labelMap['📥 To Review'],\n    confidence: result.confidence || 0,\n    reason: result.reason || '',\n    isHighConfidence: (result.confidence || 0) >= 80\n  }\n};"
      },
      "name": "Parse AI Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400],
      "id": "parse-ai-1"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [{
            "leftValue": "={{ $json.isHighConfidence }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }]
        },
        "options": {}
      },
      "name": "High Confidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1500, 400],
      "id": "confidence-1"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.emailId }}",
        "labelIds": "={{ [$json.labelId, $json.processedId] }}"
      },
      "name": "Apply AI Label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1700, 300],
      "id": "apply-ai-1",
      "credentials": {
        "gmailOAuth2": {
          "id": "AsC5TeEQk0deTNge",
          "name": "Gmail dror.bekerman@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "1ZnpD6Nw8Jl-mgE0ZQ6rc4aElQKUhQKKHQiSrDjAuPwE" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Activity Log" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Email ID": "={{ $json.emailId }}",
            "From": "={{ $json.from }}",
            "Subject": "={{ $json.subject }}",
            "Rule ID": "=AI",
            "Label Applied": "={{ $json.label }}",
            "Confidence": "={{ $json.confidence }}",
            "Action": "=AI Classification"
          }
        },
        "options": {}
      },
      "name": "Log AI Classification",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1900, 300],
      "id": "log-ai-1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.emailId }}",
        "labelIds": "={{ [$json.toReviewId] }}"
      },
      "name": "Mark for Review",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1700, 500],
      "id": "mark-review-1",
      "credentials": {
        "gmailOAuth2": {
          "id": "AsC5TeEQk0deTNge",
          "name": "Gmail dror.bekerman@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.from.includes('dror.bekerman@gmail.com') ? 'dror.bekerman@gmail.com' : 'dror.bekerman@gmail.com' }}",
        "subject": "=📬 Gmail Agent: How should I classify this email?",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 10px 10px 0 0;\">\n    <h2 style=\"margin: 0;\">📧 New Email Needs Your Input</h2>\n  </div>\n  \n  <div style=\"background: #f8f9fa; padding: 20px; border: 1px solid #e9ecef;\">\n    <p><strong>From:</strong> {{ $json.from }}</p>\n    <p><strong>Subject:</strong> {{ $json.subject }}</p>\n    <p><strong>Date:</strong> {{ $json.date }}</p>\n    <div style=\"background: white; padding: 15px; border-radius: 5px; margin-top: 10px;\">\n      <p style=\"color: #666; margin: 0;\"><em>{{ $json.snippet }}</em></p>\n    </div>\n  </div>\n  \n  <div style=\"background: white; padding: 20px; border: 1px solid #e9ecef;\">\n    <h3 style=\"color: #333;\">🏷️ Quick Labels (click one):</h3>\n    <div style=\"display: flex; flex-wrap: wrap; gap: 10px;\">\n      <a href=\"{{ $execution.resumeUrl }}?action=label&label=💼 Work&emailId={{ $json.emailId }}\" style=\"background: #4a90d9; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;\">💼 Work</a>\n      <a href=\"{{ $execution.resumeUrl }}?action=label&label=👤 Personal&emailId={{ $json.emailId }}\" style=\"background: #50c878; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;\">👤 Personal</a>\n      <a href=\"{{ $execution.resumeUrl }}?action=label&label=📰 Newsletters&emailId={{ $json.emailId }}\" style=\"background: #ff9500; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;\">📰 Newsletter</a>\n      <a href=\"{{ $execution.resumeUrl }}?action=label&label=🔔 Notifications&emailId={{ $json.emailId }}\" style=\"background: #ff3b30; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;\">🔔 Notification</a>\n      <a href=\"{{ $execution.resumeUrl }}?action=label&label=🛒 Shopping&emailId={{ $json.emailId }}\" style=\"background: #af52de; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;\">🛒 Shopping</a>\n      <a href=\"{{ $execution.resumeUrl }}?action=label&label=💰 Finance&emailId={{ $json.emailId }}\" style=\"background: #34c759; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;\">💰 Finance</a>\n      <a href=\"{{ $execution.resumeUrl }}?action=label&label=📅 Calendar&emailId={{ $json.emailId }}\" style=\"background: #007aff; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;\">📅 Calendar</a>\n      <a href=\"{{ $execution.resumeUrl }}?action=label&label=⬇️ Low Priority&emailId={{ $json.emailId }}\" style=\"background: #8e8e93; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;\">⬇️ Low Priority</a>\n    </div>\n    <div style=\"margin-top: 15px; display: flex; gap: 10px;\">\n      <a href=\"{{ $execution.resumeUrl }}?action=archive&emailId={{ $json.emailId }}\" style=\"background: #636366; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;\">📦 Archive</a>\n      <a href=\"{{ $execution.resumeUrl }}?action=skip&emailId={{ $json.emailId }}\" style=\"background: #aeaeb2; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;\">⏭️ Skip</a>\n    </div>\n  </div>\n  \n  <div style=\"background: #fff3cd; padding: 20px; border: 1px solid #ffc107; border-radius: 0 0 10px 10px;\">\n    <h3 style=\"color: #856404; margin-top: 0;\">📝 Or Reply With a Rule:</h3>\n    <p style=\"color: #856404;\">Reply to this email with instructions like:</p>\n    <ul style=\"color: #856404;\">\n      <li>\"Label as Newsletter\"</li>\n      <li>\"All emails from this sender → Work/Clients\"</li>\n      <li>\"Emails with 'invoice' in subject → Finance/Invoices\"</li>\n      <li>\"Archive all from this domain\"</li>\n    </ul>\n    <p style=\"color: #856404;\"><strong>Your reply will teach me for future similar emails!</strong></p>\n  </div>\n  \n  <div style=\"background: #e7f3ff; padding: 15px; margin-top: 10px; border-radius: 5px;\">\n    <p style=\"margin: 0; color: #0056b3;\">🤖 <strong>AI Suggestion:</strong> {{ $json.label }} ({{ $json.confidence }}% confident)</p>\n    <p style=\"margin: 5px 0 0 0; color: #6c757d;\">Reason: {{ $json.reason }}</p>\n  </div>\n  \n  <input type=\"hidden\" name=\"emailId\" value=\"{{ $json.emailId }}\" />\n  <input type=\"hidden\" name=\"senderEmail\" value=\"{{ $json.senderEmail }}\" />\n  <input type=\"hidden\" name=\"domain\" value=\"{{ $json.domain }}\" />\n</div>",
        "options": {}
      },
      "name": "Send Decision Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1900, 500],
      "id": "send-decision-1",
      "credentials": {
        "gmailOAuth2": {
          "id": "AsC5TeEQk0deTNge",
          "name": "Gmail dror.bekerman@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "=/gmail-agent-decision"
        }
      },
      "name": "Wait for Response",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2100, 500],
      "id": "wait-1",
      "webhookId": "gmail-agent-wait"
    },
    {
      "parameters": {
        "jsCode": "const waitData = $input.item.json;\nconst query = waitData.query || {};\nconst prevData = $('Parse AI Result').item.json;\nconst labelMap = prevData.labelMap;\n\nconst action = query.action || 'skip';\nconst selectedLabel = query.label || null;\nconst emailId = query.emailId || prevData.emailId;\n\nlet labelId = null;\nlet labelIds = [];\n\nif (action === 'label' && selectedLabel) {\n  labelId = labelMap[selectedLabel] || labelMap['📥 To Review'];\n  labelIds = [labelId, labelMap['✅ Processed']];\n} else if (action === 'archive') {\n  labelIds = [labelMap['✅ Processed']];\n} else if (action === 'skip') {\n  labelIds = [labelMap['📥 To Review']];\n}\n\nreturn {\n  json: {\n    action: action,\n    selectedLabel: selectedLabel,\n    emailId: emailId,\n    labelId: labelId,\n    labelIds: labelIds,\n    senderEmail: prevData.senderEmail,\n    domain: prevData.domain,\n    subject: prevData.subject,\n    from: prevData.from,\n    shouldCreateRule: action === 'label',\n    shouldArchive: action === 'archive',\n    processedId: labelMap['✅ Processed']\n  }\n};"
      },
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 500],
      "id": "process-response-1"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.emailId }}",
        "labelIds": "={{ $json.labelIds }}"
      },
      "name": "Apply User Choice",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2500, 400],
      "id": "apply-user-1",
      "credentials": {
        "gmailOAuth2": {
          "id": "AsC5TeEQk0deTNge",
          "name": "Gmail dror.bekerman@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [{
            "leftValue": "={{ $json.shouldCreateRule }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }]
        },
        "options": {}
      },
      "name": "Create Rule?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2700, 400],
      "id": "create-rule-1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "1ZnpD6Nw8Jl-mgE0ZQ6rc4aElQKUhQKKHQiSrDjAuPwE" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Rules" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rule ID": "={{ Math.floor(Date.now() / 1000) }}",
            "Type": "=sender",
            "Pattern": "={{ $json.senderEmail }}",
            "Label": "={{ $json.selectedLabel }}",
            "Action": "=label",
            "Priority": "=10",
            "Active": "=TRUE",
            "Created": "={{ $now.toISO() }}",
            "Last Used": "={{ $now.toISO() }}",
            "Use Count": "=1",
            "Source": "=button",
            "Original Text": "=User clicked {{ $json.selectedLabel }} button"
          }
        },
        "options": {}
      },
      "name": "Save Rule",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2900, 300],
      "id": "save-rule-1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "1ZnpD6Nw8Jl-mgE0ZQ6rc4aElQKUhQKKHQiSrDjAuPwE" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Activity Log" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Email ID": "={{ $json.emailId }}",
            "From": "={{ $json.from }}",
            "Subject": "={{ $json.subject }}",
            "Rule ID": "=User Choice",
            "Label Applied": "={{ $json.selectedLabel || $json.action }}",
            "Confidence": "=100",
            "Action": "=User Decision"
          }
        },
        "options": {}
      },
      "name": "Log User Decision",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2900, 500],
      "id": "log-user-1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Extract Email Data", "type": "main", "index": 0 }]]
    },
    "Extract Email Data": {
      "main": [[{ "node": "Fetch Rules", "type": "main", "index": 0 }]]
    },
    "Fetch Rules": {
      "main": [[{ "node": "Check Rules", "type": "main", "index": 0 }]]
    },
    "Check Rules": {
      "main": [[{ "node": "Rule Match?", "type": "main", "index": 0 }]]
    },
    "Rule Match?": {
      "main": [
        [{ "node": "Apply Rule Label", "type": "main", "index": 0 }],
        [{ "node": "AI Classify", "type": "main", "index": 0 }]
      ]
    },
    "Apply Rule Label": {
      "main": [[{ "node": "Log Rule Match", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Classify", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Classify": {
      "main": [[{ "node": "Parse AI Result", "type": "main", "index": 0 }]]
    },
    "Parse AI Result": {
      "main": [[{ "node": "High Confidence?", "type": "main", "index": 0 }]]
    },
    "High Confidence?": {
      "main": [
        [{ "node": "Apply AI Label", "type": "main", "index": 0 }],
        [{ "node": "Mark for Review", "type": "main", "index": 0 }]
      ]
    },
    "Apply AI Label": {
      "main": [[{ "node": "Log AI Classification", "type": "main", "index": 0 }]]
    },
    "Mark for Review": {
      "main": [[{ "node": "Send Decision Email", "type": "main", "index": 0 }]]
    },
    "Send Decision Email": {
      "main": [[{ "node": "Wait for Response", "type": "main", "index": 0 }]]
    },
    "Wait for Response": {
      "main": [[{ "node": "Process Response", "type": "main", "index": 0 }]]
    },
    "Process Response": {
      "main": [[{ "node": "Apply User Choice", "type": "main", "index": 0 }]]
    },
    "Apply User Choice": {
      "main": [[{ "node": "Create Rule?", "type": "main", "index": 0 }]]
    },
    "Create Rule?": {
      "main": [
        [{ "node": "Save Rule", "type": "main", "index": 0 }],
        [{ "node": "Log User Decision", "type": "main", "index": 0 }]
      ]
    },
    "Save Rule": {
      "main": [[{ "node": "Log User Decision", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
